header{
    font-size: 15px;
    color: white;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    font-size: 10px;
    margin-left: 30px;
}

.navbar__list{
    display: flex;
    margin-right: 60px;
    white-space: nowrap;
}

.navbar__list li{
    margin-right: 90px;
}

.navbar__log{
    display: flex;
    margin-right: 60px;
    white-space: nowrap;
}

.navbar__log li{
    margin-right: 50px;
}

.navbar__toggleBtn {
    right: 10px;
    font-size: 20px;
    display: none;
}

.banner{
    width: 100%;
    height: 300px;
    line-height: 300px;
    margin: 0 auto;
    background-color: #BEEFFF;
}

.banner__char {
    height: 5px;
    margin-left: 150px;
}

#banner__leftBtn {
    float: left;
}

#banner_rightBtn {
    float: right;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

}